.form {
    display: flex;
    border-top: 2px solid #D3D3D3;
    height: 60px;
  }
  
  .input {
    border: none;
    border-radius: 0;
    width: 90%;
    font-size: 1em;
    padding: 0 20px;
  }
  
  input:focus, textarea:focus, select:focus{
    outline: none;
  }
  
  .sendButton {
    color: #fff !important;
    text-transform: uppercase;
    background: #5a189a;
    padding: 20px;
    display: inline-block;
    border: none;
    width: 10%;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
  }

  @media screen and (max-width : 768px){
    .input{
      width: 80%;
      padding: 0 10px;
    }

    .sendButton{
      width: 20%;
      padding: 10px;
    }

    .form {
      height: 50px;
    }
  }