
.textContainer {
    display: flex;
    flex-direction: column;
    color: white;
    height: 100%;
    width: 250px;
    padding-top: 60PX;
    background-color: #7b2cbf;
    position: absolute;
    z-index: 1;
  }
  
  .textContainer-user{
    margin: 20px ;
    background-color:#5a189a;
    border-radius: 10px;
    padding: 20px;
  }

  .activeContainer {
    display: flex;
    margin-bottom: 10%;
    font-size: 15px;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;  
    max-height: 200px;
  }

  .activeContainer::-webkit-scrollbar {
    display: none;
}

  .activeRoom {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 18px;
  }
  
  .activeItem {
    display: flex;
    align-items: center;
  }

  .current-user{
    background-color: #7b2cbf;
  }
  
  .active-img {
    padding: 15px 10px;
  }
  
  .leave-button{
    background-color: white;
    font-size: 18px;
    border-radius: 10px;
    padding: 5px 20px;
    width: fit-content;
    outline: none;
    color: #5a189a;
    border: 5px solid #5a189a;
    width: 100%;
  }

  .leave-button-a{
    margin: 20px ;
  }
